:root {
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

  .hero-desc {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-size: 1 rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;    /*  more spacing */
  color: #bab4b4;         
}



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

